.users{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 20px 5px;
    background-color: white;
}

.card-body{
    padding: 10px;
}

.card-footer{
    padding: 10px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #f5f5f6;
}

.user-image{
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    background-color: #f5f5f6;
}

.user-name{
    font-weight: bold;
    font-family: Arial;
    color: #030303;
    margin: 5px 10px
}

.user-detail{
    font-family: Arial;
    color: #575757;
    margin: 5px 0px
}

.card-icon{
    margin: 0px 10px;
}

.card-button{
    color: #525152;
}

